# Dependencies
node_modules/
composer.lock
vendor/

# WordPress
wp-config.php
wp-content/uploads/
wp-content/backup-*
wp-content/advanced-cache.php
wp-content/wp-cache-config.php
wp-content/object-cache.php

# IDE & Editors
.vscode/
.idea/
*.swp
*.swo
*~
.DS_Store
*.sublime-project
*.sublime-workspace

# OS
Thumbs.db
.DS_Store
.AppleDouble
.LSOverride

# Build
dist/
build/

# Logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Environment
.env
.env.local
.env.*.local

# Testing
.phpunit.result.cache
